.App {
  text-align: center;
}

.login-wrapper {
  text-align: center;
  margin: 4em;
  padding: 4em;
  border: 2px solid #d3d3d3;
  border-radius: 2em;
}

.container {
  margin-left: 15%;
  margin-right: 15%;
}

.login-tab-box {
  text-align: center;
  margin: 4em;
  padding: 4em;
  width: 500px;
}
